<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy HprCamp 2021 Designed to celebrate the &#x2764; between <strong>H </strong>& <strong>PR</strong></span>
    </div>
</footer>